/* CSS stylesheet */
/* menu */
#menu
{
	font-family: Arial, Helvetica, sans-serif;
	position: sticky;
	top: 0;
	overflow: hidden;
	width: auto;
	z-index: 10;
}

.container .jumbotron {
	background-image: url("img/background2.jpg");
	opacity: 0.9;
}


/* body */
body{
	background-image: url("img/background2.jpg");
	  height: 100%; 
	  background-repeat: no-repeat;
}

.container .jumbotron{
	width: 100%;
}
/* container images default */
.container img{
	filter: grayscale(80%);
	position: inherit;
	z-index: 100;
}

/* container images on hover */
.container img:hover{
	filter: grayscale(0%);
	transform: scale(1.2);
}

/* wellcome animation */
#wellcome img{
	width: 1260px;
	margin-top: -20px;
}

/* form text area*/
input[type=text] {
	width: 200px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

/* form submit button */
input[type=submit]{
	height: 60px;
	width: 200px;
}

iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#qrcoder img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid transparent;
}

/* all sections */
#about,#spa,#photos,#playlist,#like,#qrcoder,#contact,p{
	 color: #111;
	 font-family: 'Arial', sans-serif;
	 font-size: 20px;
	 font-weight: 300; 
	 line-height: 32px;
	 margin: 0 0 72px;
}